* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  height: 100px;
  background-color: lightgray;
  font-size: 3.2rem;
}

/* MAIN */

.container.description {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 50px;
}